<div th:fragment="mainPage">
	<!-- ======= Main ======= -->
	<main id="main" class="main">
		<div id="app" v-cloak>
			<!-- Page Title -->
			<div class="pagetitle">
				<h1 th:text="#{beanA.title}">標題</h1>
				<div @click=""></div>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
						<li class="breadcrumb-item active" th:text="#{beanA.title}">標題</li>
					</ol>
				</nav>
			</div>
			<!-- End Page Title -->

			<!-- Main Content -->
			<section class="section dashboard">
				<div class="row">
					<!-- Select Alert -->
					<div class="alert alert-danger alert-dismissible fade show" role="alert"
						v-if=" selectAlertMsg !=  '' ">
						{{ selectAlertMsg }}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
							@click=" selectAlertMsg = '' "></button>
					</div>

					<!-- 查詢頁面 -->
					<div class="card">
						<div class="card-body">
							<h5 class="card-title" th:text="#{button.select}">查询</h5>
							<div class="row mb-3">
								<div class="row">
									<div class="col-5 text-black" th:text="#{beanA.id}">ID</div>
								</div>
								<div class="row mb-3">
									<div class="col-5">
										<input type="text" class="form-control" v-model="select_Bean.id">
									</div>
								</div>
								<div class="d-flex bd-highlight">
									<button type="submit" class="btn btn-primary me-1 p-2 bd-highlight"
										@click="getBean">Submit</button>
									<button type="submit" class="btn btn-secondary p-2 bd-highlight"
										@click="cancel_Button">Cancel</button>
									<button type="submit" class="btn btn-secondary ms-auto p-2 bd-highlight"
										@click="addItem_Button" th:text="#{button.insert}">新增资料</button>
								</div>
							</div>
						</div>
					</div>

					<!-- Edit Alert -->
					<div class="alert alert-danger alert-dismissible fade show" role="alert"
						v-if=" editAlertMsg !=  '' ">
						{{ editAlertMsg }}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
							@click=" editAlertMsg = '' "></button>
					</div>

					<!-- Insert頁面 --> <!-- Update頁面 -->
					<div class="card" v-if="editPage_isValue === 'insert' || editPage_isValue === 'update' ">
						<div class="card-body">
							<h5 class="card-title" th:text="#{buttonPage.insert}" v-if="editPage_isValue === 'insert' ">新增页面</h5>
							<h5 class="card-title" th:text="#{buttonPage.update}" v-if="editPage_isValue === 'update' ">更新页面</h5>

							<!-- #1 -->
							<div class="row">
								<div class="col-3 text-black" th:text="#{beanA.id}">ID</div>
								<div class="col-3 text-black" th:text="#{beanA.name}">NAME</div>
								<div class="col-3 text-black" th:text="#{beanA.col}">COL</div>
							</div>

							<div class="row mb-3">
								<!-- All -->
								<div class="col-sm-3">
									<input type="text" class="form-control" disabled v-model="temp_Bean.id">
								</div>
								<!-- insert -->
								<div class="col-sm-3" v-if="editPage_isValue === 'insert' ">
									<input type="text" class="form-control" disabled v-model="temp_Bean.name">
								</div>
								<div class="col-sm-3" v-if="editPage_isValue === 'insert' ">
									<select class="form-select" v-model="temp_Bean.col">
										<option v-for="type in col" :value="type.option_Value">
											{{ type.option_Text }}
										</option>
									</select>
								</div>
								<!-- update -->
								<div class="col-sm-3" v-if="editPage_isValue === 'update' ">
									<input type="text" class="form-control" disabled v-model="temp_Bean.name">
								</div>
								<div class="col-sm-3" v-if="editPage_isValue === 'update' ">
									<select class="form-select" v-model="temp_Bean.col">
										<option v-for="type in col" :value="type.option_Value">
											{{ type.option_Text }}
										</option>
									</select>
								</div>	

							</div>

							<!-- #Submit-->
							<button type="submit" class="btn btn-secondary me-1" @click="insert_Button" v-if="editPage_isValue === 'insert' ">Submit</button>
							<button type="submit" class="btn btn-secondary me-1" @click="update_Button" v-if="editPage_isValue === 'update' ">Submit</button>
						</div>
					</div>

					<!-- 內容 -->
					<div class="card">
						<div class="card-body" v-if="containPage_isValue === 'true' ">
							<h5 class="card-title" th:text="#{buttonPage.title}">內容</h5>

							<!-- Small tables -->
							<table class="table table-sm">
								<thead>
									<tr>
										<th width="12%" th:text="#{beanA.id}">ID</th>
										<th width="12%" th:text="#{beanA.name}">NAME</th>
										<th width="12%" th:text="#{beanA.col}">COL</th>
									
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>{{Bean.id}}</td>
										<td>{{Bean.name}}</td>
										<template v-for="(item2, key2, index2) in col">
											<template v-if=" item2.option_Value == beanA.col ">
												<td>{{item2.option_Text}}</td>
											</template>
										</template>
									</tr>
								</tbody>
							</table>
							<!-- End small tables -->

							<div class="d-flex justify-content-start">
								<button type="button" class="btn btn-secondary me-1" @click="edit_Button">Edit</button>
								<button type="button" class="btn btn-danger" @click="delete_Button">Delete</button>
							</div>
							<!-- End Button -->

						</div>
					</div>

				</div>
			</section>
			<!-- End Main Content -->
		</div>

	</main>
	<!-- End #main -->
</div>


<!-- Sidebar -->
<script>
	$(function () {
		// Sidebar
		$("#page").removeClass("collapsed") 			// 顯示大標題
		$("#page-nav").addClass("show")					// 展開選項
		$("#sidebar_BeanA").addClass("active")	// 顯示小標題
	})
</script>

<!-- Vue -->
<script type="module" th:inline="javascript">
	import { createApp, ref, reactive, toRefs, onMounted } from "../../js/vue.esm-browser.min.js";
	const baseUrl = [[${ #servletContext.contextPath }]];
	const requestMapping = "/BeanA";

	const app = createApp({
		setup() {
			// Init
			onMounted(() => {
				getOptions()
				data.Bean = { ...data.default_Bean }
				data.temp_Bean = { ...data.default_Bean }
				data.select_Bean = { ...data.select_default_Bean }
			})
			// 取得 Options	
			function getOptions() {
				let xhr = new XMLHttpRequest();
				let url = baseUrl + requestMapping + "/getOptions"
				xhr.open("GET", url)
				xhr.send()
				xhr.onreadystatechange = function () {
					if (xhr.readyState == 4 && xhr.status == 200) {
						const maps = JSON.parse(xhr.responseText)
						options.real_Teller_Flag = maps.real_Teller_Flag
						options.teller_Auth_Level = maps.teller_Auth_Level
						options.teller_Status = maps.teller_Status
						options.teller_Type = maps.teller_Type
					}

				}
			}

			// Data
			const editPage_isValue = ref("") 	// insert udpate
			const containPage_isValue = ref("") // true
			const data = reactive({
				default_Bean: { // 清空、預設用
					id: "",
					name: "",
					col: "",					
				},
				Bean: { // 原本資料 (select)	

				},
				temp_Bean: { // 修改資料 (insert, update)
				
				},
				select_default_Bean: { // 清空、預設用
					teller_No: ""
				},
				select_Bean: { // 輸入查詢用

				},
			})


			// Alert Message
			const selectAlertMsg = ref("")
			const editAlertMsg = ref("")

			// Option
			const options = reactive({
				col: [
					// { table_Name: "是"}, 	// 資料庫表個名稱
					// { col_Name: "否"},		// 欄位名稱
					// { option_Value: "否"},	// 選項 資料庫名稱
					// { option_Text: "否"},	// 選項 呈現名稱
					// { display_Order: "否"},
					// { remark: "否"},
					// { permission: "否"}
				]
				// ,
				// teller_Auth_Level: [
				// 	// { option_Value: "其他-经办"},
				// ]

			})





			// Cancel
			const cancel_Button = () => {
				data.Bean = { ...data.default_Bean }
				containPage_isValue.value = ""
				cancel_Edit()
			}

			function cancel_Edit() {
				editPage_isValue.value = ""
				data.temp_Bean = { ...data.default_Bean }
				data.select_Bean = { ...data.select_default_Bean }
				selectAlertMsg.value = ""
				editAlertMsg.value = ""
			}

			// CRUD
			// 查詢
			const getBean = () => {
				const xhr = new XMLHttpRequest();
				const url = baseUrl + requestMapping + "/getBean"
				xhr.open("POST", url)
				xhr.setRequestHeader("Content-Type", "application/json")
				xhr.send(JSON.stringify(data.select_Bean))
				xhr.onreadystatechange = function () {
					if (xhr.readyState == 4 && xhr.status == 200) {
						const maps = JSON.parse(xhr.responseText)

						if (!maps.Bean) {
							data.Bean = { ...data.default_Bean }
							selectAlertMsg.value = maps.selectAlertMsg
							containPage_isValue.value = ""
							return
						}

						if (true) {
							data.Bean = maps.Bean
							containPage_isValue.value = "true"
							cancel_Edit()
						}
					}
				}
			}

			// 新增
			const addItem_Button = () => {
				if (editPage_isValue.value === "insert") {
					editPage_isValue.value = ""
				} else {
					editPage_isValue.value = "insert"
				}
				data.temp_Bean = { ...data.default_Bean }
			}

			const insert_Button = () => {

				if (!checkEdit()) return;

				let xhr = new XMLHttpRequest();
				let url = baseUrl + requestMapping + "/insert"
				xhr.open("POST", url)
				xhr.setRequestHeader("Content-Type", "application/json")
				xhr.send(JSON.stringify(data.temp_Bean))
				xhr.onreadystatechange = function () {
					if (xhr.readyState == 4 && xhr.status == 200) {
						const maps = JSON.parse(xhr.responseText)

						if (!maps.Bean) {
							editAlertMsg.value = maps.editAlertMsg
							return
						}

						if (true) {
							data.Bean = maps.Bean
							containPage_isValue.value = "true"
							cancel_Edit()
						}
					}

				}
			}

			// 更新
			const edit_Button = () => {
				if (editPage_isValue.value === "update") {
					editPage_isValue.value = ""
				} else {
					editPage_isValue.value = "update"
				}
				data.temp_Bean = { ...data.Bean }
			}

			const update_Button = () => {

				if (!checkEdit()) return;

				let xhr = new XMLHttpRequest();
				let url = baseUrl + requestMapping + "/update"
				xhr.open("POST", url)
				xhr.setRequestHeader("Content-Type", "application/json")
				xhr.send(JSON.stringify(data.temp_Bean))
				xhr.onreadystatechange = function () {
					if (xhr.readyState == 4 && xhr.status == 200) {
						const maps = JSON.parse(xhr.responseText)

						if (!maps.Bean) {
							editAlertMsg.value = maps.editAlertMsg
							return
						}

						if (true) {
							data.Bean = maps.Bean
							cancel_Edit()
						}
					}

				}
			}

			//刪除
			const delete_Button = () => {
				data.temp_Bean = { ...data.Bean }
				let xhr = new XMLHttpRequest();
				let url = baseUrl + requestMapping + "/delete"
				xhr.open("POST", url)
				xhr.setRequestHeader("Content-Type", "application/json")
				xhr.send(JSON.stringify(data.temp_Bean))
				xhr.onreadystatechange = function () {
					if (xhr.readyState == 4 && xhr.status == 200) {
						const maps = JSON.parse(xhr.responseText)

						if (!maps.Bean) {
							data.Bean = { ...data.default_Bean }
							containPage_isValue.value = ""
							cancel_Edit()
						}

					}

				}
			}

			function checkEdit() {
				if (data.temp_Bean.teller_No == '') {
					editAlertMsg.value = "请输入柜员号"
					return false;
				}

				// if (data.temp_Bean.type == '') {
				// 	editAlertMsg.value = "請選擇證件類型"
				// 	return false;
				// }

				return true;
			}

			// Return============================
			return {
				// Data
				editPage_isValue, ...toRefs(data), ...toRefs(options), selectAlertMsg, editAlertMsg,
				containPage_isValue,

				// function
				getBean, cancel_Button, addItem_Button, insert_Button, edit_Button, update_Button, delete_Button,


			}
		}
	})
	app.mount("#app")
</script>