<div th:fragment="mainPage">
    <main id="main" class="main">
        <div id="app">
            <!-- Page Title -->
            <div class="pagetitle">
                <h1>Dashboard</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a href="#">Dashboard</a></li>
                        <!-- <li class="breadcrumb-item active">Dashboard</li> -->
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->

            <!-- Main Content -->
            <section class="section dashboard">
                <div class="row">


                </div>
            </section>
            <!-- End Main Content -->
        </div>

    </main>
</div>

<script>
    $(function () {
        // Sidebar
        $("#sidebar_Dashboard").removeClass("collapsed")
    })
</script>

<!-- <script th:fragment="vue">
   
</script> -->