<div th:fragment="sidebar">
	<aside id="sidebar" class="sidebar">

		<ul class="sidebar-nav" id="sidebar-nav">

			<li class="nav-item"><a class="nav-link collapsed" th:href="@{/Dashboard}" id="sidebar_Dashboard">
					<i class="bi bi-grid"></i> <span>Dashboard</span>
				</a></li>
			<!-- End Dashboard Nav -->

			<!-- 範例 -->
			<!-- collapsed: 不顯示/ show: 展開選項/ active: 小標題顯示  -->
			<!-- <li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#test-nav1" data-bs-toggle="collapse" href="#"> 
					<i class="bi bi-layout-text-window-reverse"></i>
						<span>Test</span>
					<i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="test-nav1" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
					<li><a href="#" class="active"> <i class="bi bi-circle"></i><span>Test01</span>
						</a></li>
					<li><a href="#"> <i class="bi bi-circle"></i><span>Test02</span>
						</a></li>
					<li><a href="#"> <i class="bi bi-circle"></i><span>Test03</span>
						</a></li>
				</ul>
			</li> -->

			<!-- 邊境書籍 查詢 select_page-->
			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#frontierBook_page-nav" data-bs-toggle="collapse" href="#"
					id="frontierBook_page">
					<i class="bi bi-layout-text-window-reverse"></i>
					<span>邊境書籍</span>
					<i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="frontierBook_page-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
					<li>
						<a th:href="@{/FrontierBook/charts/}"
							id="sidebar_FrontierBook_charts"> <i class="bi bi-circle"></i>
							<span>總攬</span>
						</a>
					</li>
				 	<li>
						<a th:href="@{/FrontierBook/select_page/}"
							id="sidebar_FrontierBook"> <i class="bi bi-circle"></i>
							<span>書籍</span>
						</a>
					</li>
					<li>
						<a th:href="@{/Pic/upload/}"
							id="sidebar_FrontierBook_upload"> <i class="bi bi-circle"></i>
							<span>上傳書籍</span>
						</a>
					</li>
				</ul>
			</li>

			<!-- Game 查詢 select_page-->
			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#Game_page-nav" data-bs-toggle="collapse" href="#"
					id="Game_page">
					<i class="bi bi-layout-text-window-reverse"></i>
					<span>遊戲類</span>
					<i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="Game_page-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
					<li>
						<a th:href="@{/Game/select_page/}"
							id="sidebar_Game"> <i class="bi bi-circle"></i>
							<span>遊戲</span>
						</a>
					</li>
				</ul>
			</li>


			<!-- 資料補登入 page-->
			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#page-nav" data-bs-toggle="collapse" href="#"
					id="page">
					<i class="bi bi-layout-text-window-reverse"></i>
					<span>Temp</span>
					<i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="page-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
					<!-- <li>
						<a th:href="@{/BeanA/}" id="sidebar_BeanA"> <i class="bi bi-circle"></i>
							<span>BeanA</span>
						</a>
					</li>
				 	<li>
						<a th:href="@{/FrontierBook/}" id="sidebar_FrontierBook"> <i
								class="bi bi-circle"></i>
							<span>同人本</span>
						</a>
					</li>	 -->
					<!--
					<li>
						<a th:href="@{/Employee_Information/}" id="sidebar_Employee_Information"> <i
								class="bi bi-circle"></i>
							<span>员工表</span>
						</a>
					</li> -->
					<!-- <li>
						<a th:href="@{/Organization_Information/}"
							id="sidebar_Organization_Information"> <i class="bi bi-circle"></i>
							<span>机构信息及机构关系</span>
						</a>
					</li> -->
					<!-- <li>
						<a th:href="@{/Organization_Basic_Information/}"
							id="sidebar_Organization_Basic_Information"> <i class="bi bi-circle"></i>
							<span>机构讯息</span>
						</a>
					</li>
					<li>
						<a th:href="@{/Organization_Relationship_Information/}"
							id="sidebar_Organization_Relationship_Information"> <i class="bi bi-circle"></i>
							<span>机构关系</span>
						</a>
					</li>
					<li>
						<a th:href="@{/ChinaJobInfo/}" id="sidebar_ChinaJobInfo"> <i
								class="bi bi-circle"></i>
							<span>岗位信息表</span>
						</a>
					</li>
					<li>
						<a th:href="@{/Customer_Financial_Report/}"
							id="sidebar_Customer_Financial_Report"> <i class="bi bi-circle"></i>
							<span>企业财务报表</span>
						</a>
					</li> -->

					
				</ul>
			</li>
			<!-- End Empty Nav -->

			<!-- Excel 上傳下載 excel_page-->
			<!-- <li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/Excel/upload/}" id="sidebar_ExcelUpload">
					<i class="bi bi-upload"></i>
					<span>上传档案</span>
				</a>
			</li> -->
			<!-- <li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/Pic/upload/}" id="sidebar_ExcelUpload">
					<i class="bi bi-upload"></i>
					<span>上傳圖片</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/Excel/download/}" id="sidebar_ExcelDownload">
					<i class="bi bi-download"></i>
					<span>下载档案</span>
				</a>
			</li> -->
		</ul>

	</aside>

</div>
