<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.web.mapper.BeanAMapper">
	
	<!-- 開啟二級緩存 6小時刷新-->
<!-- 	<cache  flushInterval="21600000"/> -->
	
	<!-- BeanA selectID(BeanA bean); -->
	<select id="selectID" resultType="BeanA">
		select * from BeanA where id = #{id}
	</select>
	
	<!-- List<BeanA> selectAll() -->
	<select id="selectAll" resultType="BeanA">
		select * from BeanA
	</select>
	
	<!-- void insert(BeanA bean); -->
	<insert id="insert">
		insert
		into BeanA values(
			#{id},
			#{name},
			#{col}
		 )
	</insert>

	<!-- void update(BeanA bean); -->
	<update id="update">
		update BeanA set		
			name = #{name},
			col = #{col}		
	
		where id = #{id}
	</update>

	<!-- void delete(BeanA bean); -->
	<delete id="delete">
		delete from BeanA where id = #{id}
	</delete>

</mapper>
