<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.web.mapper.CommonUseMapper">

	<!-- 開啟二級緩存 -->
	<!-- 	<cache  /> -->

	<!-- List<ColOptions> selectColOptions(ColOptions bean); -->
	<select id="selectColOptions" resultType="ColOptions">
		select * from Z_AllCol_Options
  		where Table_Name = #{table_Name}
		<if test="col_Name != null">
    		and Col_Name = #{col_Name}
  		</if>
	</select>

</mapper>
