<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.web.mapper.Teller_InformationMapper">
	
	<!-- 開啟二級緩存 6小時刷新-->
<!-- 	<cache  flushInterval="21600000"/> -->
	
	<!-- Teller_Information selectTeller_InformationMapperByTeller_No(@Param("teller_No") String teller_No); -->
	<select id="selectTeller_InformationMapperByTeller_No" resultType="Teller_Information">
		select * from
		Z_Teller_Information where Teller_No = #{teller_No}
	</select>
	
	<!-- List<Teller_Information> selectBeanAll() -->
	<select id="selectBeanAll" resultType="Teller_Information">
		select * from Z_Teller_Information
	</select>
	
	<!-- void insertTeller_InformationMapper(Teller_Information bean); -->
	<insert id="insertTeller_InformationMapper">
		insert
		into Z_Teller_Information values(
			#{teller_No},
			#{emplyee_No},
			#{branch_Code},
			#{license_No},
			#{branch_Name},
			#{teller_Type},
			#{real_Teller_Flag},
			#{job_No},
			#{teller_Auth_Level},
			#{teller_Active_Date},
			#{teller_Status},
			#{remark},
			#{maintainUser},
			#{maintainDate},
			#{maintainTime}
		 )
	</insert>

	<!-- void updateTeller_InformationMapper(Teller_Information bean); -->
	<update id="updateTeller_InformationMapper">
		update Z_Teller_Information set
			Emplyee_No = #{emplyee_No},
			Branch_Code = #{branch_Code},
			License_No = #{license_No},
			Branch_Name = #{branch_Name},
			Teller_Type = #{teller_Type},
			Real_Teller_Flag = #{real_Teller_Flag},
			Job_No = #{job_No},
			Teller_Auth_Level = #{teller_Auth_Level},
			Teller_Active_Date = #{teller_Active_Date},
			Teller_Status = #{teller_Status},
			Remark = #{remark},
			maintainUser = #{maintainUser},
			maintainDate = #{maintainDate},
			maintainTime = #{maintainTime}
	
		where Teller_No = #{teller_No}
	</update>

	<!-- void deleteTeller_InformationMapper(@Param("teller_No") String teller_No); -->
	<delete id="deleteTeller_InformationMapper">
		delete from Z_Teller_Information where Teller_No = #{teller_No}
	</delete>

</mapper>
