<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.web.mapper.FrontierBookMapper">
	
	<!-- 開啟二級緩存 6小時刷新-->
	<!-- <cache  flushInterval="21600000"/>-->
	<cache />
	
	<!-- FrontierBook selectID(FrontierBook bean); -->
	<select id="selectID" resultType="FrontierBook">
		select * from frontierbook where picDir = #{picDir}
	</select>
	
	<!-- List<FrontierBook> selectAll() -->
	<select id="selectAll" resultType="FrontierBook">
		select * from frontierbook
	</select>

	<!-- List<FrontierBook> selectFilterAll(); -->
	<select id="selectFilterAll" resultType="FrontierBook">
		select * from frontierbook
		<trim prefix="where" suffix="" prefixOverrides="" suffixOverrides="and|or">
	        <if test="ffno != null and ffno != '' ">
	            ffno = #{ffno} and
	        </if>
	        <if test="auther != null and auther != '' ">
	            auther = #{auther} and
	        </if>
	        <if test="series != null and series != '' ">
	            series = #{series} and
	        </if>
	        <if test="topic != null and topic != '' ">
	            topic = #{topic}
	        </if>
	    </trim>
	</select>
	
	
	<!-- void insert(FrontierBook bean); -->
	<insert id="insert">
		insert
		into frontierbook values(
			 #{name},
			 #{picDir},
			 #{price},
			 #{ffno},
			 #{topic},
			 #{auther},
			 #{series},
			 #{other}
		 )
	</insert>

	<!-- void update(FrontierBook bean); -->
	<update id="update">
		update frontierbook set		
			 name = #{name},
			 price = #{price},
			 ffno = #{ffno},
			 topic = #{topic},
			 auther = #{auther},
			 series = #{series},
			 other = #{other}	
	
		where picDir = #{picDir}
	</update>

	<!-- void delete(FrontierBook bean); -->
	<delete id="delete">
		delete from frontierbook where picDir = #{picDir}
	</delete>

</mapper>
