<div th:fragment="mainPage">
	<main id="main" class="main">
		<div id="app">
			<!-- Page Title -->
			<div class="pagetitle">
				<h1>下载档案</h1>
				<div @click=""></div>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
						<li class="breadcrumb-item active">下载档案</li>
					</ol>
				</nav>
			</div>
			<!-- End Page Title -->

			<!-- Main Content -->
			<section class="section dashboard">
				<div class="row">

					<!-- 查詢 -->
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">查詢</h5>
							<div class="row mb-3">
								<!-- title -->
								<div class="row">
									<div class="col-5 text-black">選擇補登入的資料</div>
								</div>
								<!--  -->
								<div class="row mb-3">
									<!-- 選擇檔案 -->
									<div class="col-4">
										<select class="form-select" v-model="" id="tableName">
											<option v-for="option in options" :value="option.value">
												{{ option.name }}
											</option>
										</select>
									</div>
									<!-- upload file -->
									<div class="col-8">
										<button type="submit" class="btn btn-primary me-1 p-2 bd-highlight"
											@click="getExcel">Submit</button>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</section>
			<!-- End Main Content -->
		</div>

	</main>
</div>


<!-- Sidebar -->
<script>
	$(function () {
		// Sidebar
		$("#sidebar_ExcelDownload").removeClass("collapsed")
	})
</script>

<!-- Vue -->
<script type="module" th:inline="javascript">
	import { createApp, ref, reactive, toRefs, onMounted } from "../../vue/vue.esm-browser.min.js";

	const baseUrl = [[${ #servletContext.contextPath }]] + "/";
	const requestMapping = "Excel";

	const app = createApp({
		setup() {
			// Init
			onMounted(() => {
				getOptions();
			})

			function getOptions() {
				let xhr = new XMLHttpRequest();
				let url = baseUrl + requestMapping + "/getOptions"
				xhr.open("GET", url)
				xhr.send()
				xhr.onreadystatechange = function () {
					if (xhr.readyState == 4 && xhr.status == 200) {
						const maps = JSON.parse(xhr.responseText)
						data.options = maps.options
					}
				}
			}

			// Data
			const data = reactive({
				options: [
					// { value: "chinaCompany", name: "法报补录平台数据信息" },
					// { value: "chinaJobInfo", name: "岗位信息表" },
				]
			})



			// Button
			const getExcel = () => {
				let url = baseUrl + requestMapping + "/getExcel"
				url = url + "?tableName=" + $("#tableName").val()
				url = url + "&fileName=" + $("#tableName :selected").text();
				window.location.href = url
				
			}

			// Return============================
			return {
				// Data
				...toRefs(data),

				// Function
				getExcel
			}
		}
	})
	app.mount("#app")
</script>